body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(31, 29, 29);
    color: #fff;
}

.container {
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
  font-weight: 700;
}

.box{
  padding: 0 auto;
}

img {
    border-radius:50%;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

#track {
  padding: 8px;
  font-weight: 700;
  background-color: rgb(135, 108, 74);
  color: antiquewhite;
  border-radius: 10px;
}

#githuburl{
  color: blue;
  cursor: pointer;
}